{{ define "main" }}

<div class="flex flex-col items-center w-full">
    <article class="prose dark:prose-invert w-full lg:prose-xl">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      <ul>
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a> <br />
        </li>
        {{ end }}
      </ul>
    </article>
</div>

{{ end }}
