{{ define "main" }}

<div class="flex px-4 flex-col items-center">
    <div class="flex flex-col md:flex-row justify-items-center">
        <aside class="
            prose
            dark:prose-invert
            w-full
            md:max-w-[20rem]
            md:fixed
            md:top-20
            md:bottom-0
            overflow-y-auto
            self-start"
            style="scrollbar-width: none !important;"
        >
            <h4><strong>Table Of Contents</strong></h4>
            {{ .TableOfContents }}
        </aside>
        <article class="prose dark:prose-invert md:ml-[22rem] lg:prose-xl">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </article>
    </div>
</div>

{{ end }}
