@tailwind base;
@tailwind components;
@tailwind utilities;

.todo {
    @apply text-red-500;
}

.tldr {
    @apply bg-teal-500/25 p-4 border-2 border-teal-500 rounded-lg;
}

.guideline {
    @apply bg-sky-500/25 p-4 border-2 border-sky-500 rounded-lg;
}

a {
    text-decoration: underline;
}
