<header class="
    border-b border-solid 
    bg-neutral-100 text-black border-neutral-200
    dark:bg-neutral-900 dark:text-white dark:border-black
    mb-4 md:mb-8
    sticky top-0 z-10 p-4">
    <div class="flex flex-col md:flex-row md:justify-between w-full">
        <ul class="flex flex-row">
            <li><a href="/">Home</a></li>
            {{- $.Scratch.Set "url" "" -}}
            {{- range (split .RelPermalink "/") -}}
                {{- if (gt (len .) 0) -}}    
                    {{- $.Scratch.Set "isPage" "false" -}}
                    {{- $.Scratch.Add "url" (print "/" . ) -}}
                    {{- if $.Site.GetPage (print . ".md") -}}
                        {{- with $.Site.GetPage (print . ".md") -}}
                            {{- if .IsPage -}}
                                {{- $.Scratch.Set "isPage" "true" -}}
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                    {{- if eq ($.Scratch.Get "isPage") "true" -}}
                        {{- with $.Site.GetPage (print . ".md") -}}
                        <span class="ml-4">/</span><li class="ml-4"><a href="{{ $.Scratch.Get `url` }}">{{ .Title }}</a></li>
                        {{- end -}}
                    {{- else -}}
                        <span class="ml-4">/</span><li class="ml-4"><a href="{{ $.Scratch.Get `url` }}">{{ humanize . }}</a></li>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        </ul>
        <div class="flex flex-row space-x-4">
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">
                    {{ .Title }}
                </a>
            {{ end }}
        </div>
    </div>
</header>